body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

p,h1,h2,h3,h4,h5,a{
  margin: 0;
  text-decoration: none;
}

.nav {
  outline: solid black 1px;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.nav-left,.nav-right {
  align-items: center;
  display: flex;
}

.nav-left {
  padding-left: 1rem;
}

.badge {
  margin-right: 4rem;
}

.nav-right {
  padding-right: 1rem;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  height: 10rem;
  width: 40rem;
  outline: solid black 1px;
}

.item-title {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.item-display {
  display: flex;
  gap: 1.5rem;
}

.post-container {
  width: 30rem;
  margin: auto;
  outline: solid black 1px;
}

.post-header {
  display: flex;
  padding: .5rem;
  align-items: center;
}

.post-pfp {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: .5rem;
}

.post-more {
}

.post-username {
  flex-grow: 1;
}


.post {
  aspect-ratio: 1;
  width: 100%;
}

.post-footer {
  display: flex;
  padding: .5rem;
}

.post-comments {
  padding: .5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.post-icon {
  
}